<a href="https://colab.research.google.com/github/dharmendra-chouhan/s2datascience/blob/master/Costing_Sheet_Dec_2019_with_All_annexures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [97]:
#@title *Read a Excel file from a Google drive** {display-mode: "form"}
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#2. Get the file Cosolidated sheet for Dec 2019_Annexure-3.xlsx
downloaded = drive.CreateFile({'id':'1c_dTYm16Vp9JhvB2EUu8A7x0E6869Vtj'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Cosolidated sheet for Dec 2019_Annexure-3.xlsx')  

# HLL Expenses Summary-Annexure-II.xlsx
downloaded = drive.CreateFile({'id':'1NaFIGXdD7WMiMIpjkkNSCi2m4YOtSIR9'}) # replace the id with id of file you want to access
downloaded.GetContentFile('HLL Expenses Summary-Annexure-II.xlsx')

# Lab Wise Business Report_Annexure-I.xls
downloaded = drive.CreateFile({'id':'1W31V3JFrzJDpcOIOHlpCY6ETrfxTU5Ue'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Lab Wise Business Report_Annexure-I.xls')

# Rent for Dec 19_Annexure-5.xlsx
downloaded = drive.CreateFile({'id':'1-UvqUpH-2pZV9_MS97Fuetp5E26U72VH'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Rent for Dec 19_Annexure-5.xlsx')

import pandas as pd

#3. Read file as panda dataframe 

# Cosolidated sheet for Dec 2019_Annexure-3.xlsx
dfCosolidated_sheet_for_Dec_2019_Annexure_3 =  pd.read_excel('Cosolidated sheet for Dec 2019_Annexure-3.xlsx', sheet_name='Sheet1', skiprows=1)

# HLL Expenses Summary-Annexure-II.xlsx
dfhll_exp_sum_aII_CONSUMABLES =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='CONSUMABLES', skiprows=1)
dfhll_exp_sum_aII_RENT =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='RENT', skiprows=1)
dfhll_exp_sum_aII_THYROCARE =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='THYROCARE', skiprows=1)
dfhll_exp_sum_aII_PATHOLOGIST =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='PATHOLOGIST', skiprows=1)

# Lab Wise Business Report_Annexure-I.xls
dflab_wise_business_Ann_I =  pd.read_excel('Lab Wise Business Report_Annexure-I.xls')
dflab_wise_business_Ann_I=dflab_wise_business_Ann_I.drop([0])

# Rent for Dec 19_Annexure-5.xlsx
dfRentDec19_Annexure_5 =  pd.read_excel('Rent for Dec 19_Annexure-5.xlsx', sheet_name='Sheet1', skiprows=2)

# Datafram EXCEL sheet wise

```
# Cosolidated sheet for Dec 2019_Annexure-3.xlsx
  1. dfCosolidated_sheet_for_Dec_2019_Annexure_3
```
```
# HLL Expenses Summary-Annexure-II.xlsx
  2. dfhll_exp_sum_aII_CONSUMABLES
  3. dfhll_exp_sum_aII_RENT
  4. dfhll_exp_sum_aII_THYROCARE
  5. dfhll_exp_sum_aII_PATHOLOGIST
```
```
# Lab Wise Business Report_Annexure-I.xls
  6. dflab_wise_business_Ann_I
```
```
# Rent for Dec 19_Annexure-5.xlsx
  7.dfRentDec19_Annexure_5
```

In [98]:
#@title *Cosolidated sheet for Dec 2019_Annexure-3.xlsx* {display-mode: "form"}
dfCosolidated_sheet_for_Dec_2019_Annexure_3.head(2)

   Sr No.  User ID  ... Work From date Total Pay
0     1.0   9332.0  ...     15/02/2019    8000.0
1     2.0   9485.0  ...     05/03/2019    7500.0

[2 rows x 8 columns]

In [99]:
#@title *Cosolidated sheet for Dec 2019_Annexure-3.xlsx(info)* {display-mode: "form"}
dfCosolidated_sheet_for_Dec_2019_Annexure_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3345 entries, 0 to 3344
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Sr No.          3339 non-null   float64
 1   User ID         3339 non-null   float64
 2   Designation     3339 non-null   object
 3   District        3339 non-null   object
 4   Lab             3339 non-null   object
 5   Resource Name   3341 non-null   object
 6   Work From date  3340 non-null   object
 7   Total Pay       3343 non-null   float64
dtypes: float64(3), object(5)
memory usage: 209.2+ KB

In [100]:
#@title *HLL Expenses Summary-Annexure-II.xlsx --Consumbles* {display-mode: "form"}
dfhll_exp_sum_aII_CONSUMABLES = dfhll_exp_sum_aII_CONSUMABLES.rename(columns={'Location': 'Lab'})
dfhll_exp_sum_aII_CONSUMABLES.head(2)

        Lab             Supplier Name  ... POSTING DATE Unnamed: 7
0  Kharghar  JAINAM/TULIP DIAGNOSTICS  ...   2019-05-23        NaN
1  Kharghar  JAINAM/TULIP DIAGNOSTICS  ...   2019-05-23        NaN

[2 rows x 8 columns]

In [101]:
#@title *HLL Expenses Summary-Annexure-II.xlsx (info) --Consumbles* {display-mode: "form"}
dfhll_exp_sum_aII_CONSUMABLES.info(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 181 entries, 0 to 180
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Lab            180 non-null    object
 1   Supplier Name  180 non-null    object
 2   PO No.         180 non-null    object
 3   Invoice No     180 non-null    object
 4   Invoice Amt    181 non-null    int64
 5   Invoice Date   180 non-null    datetime64[ns]
 6   POSTING DATE   127 non-null    datetime64[ns]
 7   Unnamed: 7     0 non-null      float64
dtypes: datetime64[ns](2), float64(1), int64(1), object(4)
memory usage: 11.4+ KB

In [102]:
#@title *HLL Expenses Summary-Annexure-II.xlsx --Rent* {display-mode: "form"}
dfhll_exp_sum_aII_RENT = dfhll_exp_sum_aII_RENT.rename(columns={'LAB LOCATION': 'Lab'})
dfhll_exp_sum_aII_RENT.head(2)

  SR .NO      Lab                       OWNERS NAME    DEC
0      1  MANCHAR            Namdev Dattatray Bende  18150
1      2  MANGAON  Mohammad Sharif Younus Harnekar   39930

In [103]:
#@title *HLL Expenses Summary-Annexure-II.xlsx (info)--Rent* {display-mode: "form"}
dfhll_exp_sum_aII_RENT.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SR .NO       78 non-null     object
 1   Lab          77 non-null     object
 2   OWNERS NAME  77 non-null     object
 3   DEC          78 non-null     int64
dtypes: int64(1), object(3)
memory usage: 2.6+ KB

In [104]:
#@title *HLL Expenses Summary-Annexure-II.xlsx --Thyrocare* {display-mode: "form"}
dfhll_exp_sum_aII_THYROCARE = dfhll_exp_sum_aII_THYROCARE.rename(columns={'LOCATION': 'Lab'})
dfhll_exp_sum_aII_THYROCARE.head(2)

  Sr. No.         Lab  Sum of BILLED  Unnamed: 3
0       1    ACHALPUR       11118.01    11118.01
1       2  AHMEDNAGAR       15675.63         NaN

In [105]:
#@title *HLL Expenses Summary-Annexure-II.xlsx (info)--Thyrocare* {display-mode: "form"}
dfhll_exp_sum_aII_THYROCARE.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sr. No.        106 non-null    object
 1   Lab            105 non-null    object
 2   Sum of BILLED  106 non-null    float64
 3   Unnamed: 3     94 non-null     float64
dtypes: float64(2), object(2)
memory usage: 3.4+ KB

In [106]:
#@title *HLL Expenses Summary-Annexure-II.xlsx --PATHOLOGIST* {display-mode: "form"}
dfhll_exp_sum_aII_PATHOLOGIST = dfhll_exp_sum_aII_PATHOLOGIST.rename(columns={'Lab Name': 'Lab'})
dfhll_exp_sum_aII_PATHOLOGIST.head(2)

   Sr. No     Employee Name  ...   DEC'19        JV NO.
0     1.0  Dr. Vijay Gawali  ...  80000.0  1.900201e+09
1     NaN               NaN  ...      NaN           NaN

[2 rows x 8 columns]

In [107]:
#@title *HLL Expenses Summary-Annexure-II.xlsx (info)--PATHOLOGIST* {display-mode: "form"}
dfhll_exp_sum_aII_PATHOLOGIST.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142 entries, 0 to 141
Data columns (total 8 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sr. No                  103 non-null    float64
 1   Employee Name           103 non-null    object
 2   Vendor Code             103 non-null    float64
 3   Designation             103 non-null    object
 4   Lab                     141 non-null    object
 5   Salary revision if any  142 non-null    float64
 6   DEC'19                  104 non-null    float64
 7   JV NO.                  103 non-null    float64
dtypes: float64(5), object(3)
memory usage: 9.0+ KB

In [108]:
#@title *Lab Wise Business Report_Annexure-I.xls* {display-mode: "form"}
dflab_wise_business_Ann_I = dflab_wise_business_Ann_I.rename(columns={'Lab Name': 'Lab'})
dflab_wise_business_Ann_I.head(2)

  Division Name District Name  ... Claim Amount  RejectedPatientcount
1      AMRAVATI         Akola  ...   2059433.68                   0.0
2      AMRAVATI         Akola  ...    500517.96                   0.0

[2 rows x 15 columns]

In [109]:
#@title *Lab Wise Business Report_Annexure-I.xls (info)* {display-mode: "form"}
dflab_wise_business_Ann_I.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137 entries, 1 to 137
Data columns (total 15 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Division Name               137 non-null    object
 1   District Name               137 non-null    object
 2   Lab                         137 non-null    object
 3   Total Patient               137 non-null    int64
 4   Total Special               137 non-null    int64
 5   Total Normal                137 non-null    int64
 6   TAT MET                     137 non-null    int64
 7   TAT FAIL                    137 non-null    int64
 8   TAT MET %                   137 non-null    float64
 9   Total Revenue               137 non-null    float64
 10  Penalty(On Completed Test)  137 non-null    int64
 11  Penalty(On Pending Test)    137 non-null    int64
 12  Total Penalty               137 non-null    float64
 13  Claim Amount                137 non-null    float64
 14  RejectedPatientcount        137 non-null    float64
dtypes: float64(5), int64(7), object(3)
memory usage: 17.1+ KB

In [110]:
#@title *Rent for Dec 19_Annexure-5.xlsx - Sheet1* {display-mode: "form"}
dfRentDec19_Annexure_5 = dfRentDec19_Annexure_5.rename(columns={'Lab Location': 'Lab'})
dfRentDec19_Annexure_5.head(2)

   Sr.No.  ... Gross Rent
0     1.0  ...     7502.0
1     2.0  ...    14000.0

[2 rows x 6 columns]

In [111]:
#@title *Rent for Dec 19_Annexure-5.xlsx (info) - Sheet1* {display-mode: "form"}
dfRentDec19_Annexure_5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Sr.No.                 65 non-null     float64
 1   District               61 non-null     object
 2   Lab                    65 non-null     object
 3   Owner                  65 non-null     object
 4   Owner account details  65 non-null     object
 5   Gross Rent             66 non-null     float64
dtypes: float64(2), object(4)
memory usage: 3.2+ KB

In [112]:
#@title *Create Master Dataframe,Distric and Lab wise unique data, drop null columns rows, Changes data to upper case* {display-mode: "form"}
dfCosolidated_sheet_for_Dec_2019_Annexure_3['District'] = dfCosolidated_sheet_for_Dec_2019_Annexure_3['District'].str.upper() 
dfCosolidated_sheet_for_Dec_2019_Annexure_3['Lab'] = dfCosolidated_sheet_for_Dec_2019_Annexure_3['Lab'].str.upper() 
dfCostingSheet=dfCosolidated_sheet_for_Dec_2019_Annexure_3.drop_duplicates(['District','Lab'])[['District','Lab']]
dfCostingSheet= dfCostingSheet.dropna()
dfCostingSheet.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 172 entries, 0 to 3181
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   District  172 non-null    object
 1   Lab       172 non-null    object
dtypes: object(2)
memory usage: 4.0+ KB

In [113]:
#@title *Master Dataframe - Reset index / Order by Lab* {display-mode: "form"}
pd.set_option('display.max_rows', dfCostingSheet.shape[0]+1)
dfCostingSheet.sort_values("Lab", axis = 0, ascending = True, 
                 inplace = True, na_position ='last')
dfCostingSheet.reset_index(drop=True, inplace=True)
print(dfCostingSheet)

        District                    Lab
0       AMRAVATI               ACHALPUR
1     AHMEDNAGAR             AHMADNAGAR
2           BEED             AHMADNAGAR
3        SOLAPUR               AKKALKOT
4      NANDURBAR              AKKALKUWA
5          AKOLA                  AKOLA
6          AKOLA                   AKOT
7          AKOLA                  AKOT
8           PUNE           AKURDI(PUNE)
9         RAIGAD                ALIBAUG
10    GADCHIROLI               ALLAPALI
11    GADCHIROLI              ALLPALLAI
12      AMRAVATI               AMRAVATI
13      YAVATMAL                   ARNI
14        WARDHA                   ARVI
15       SOLAPUR                 ATPADI
16        SANGLI                 ATPADI
17    AURANGABAD             AURANGABAD
18      KOLHAPUR              BAMBAVADE
19         THANE              BAMBAVADE
20        SANGLI              BAMBAVADE
21          PUNE               BARAMATI
22        SATARA               BARAMATI
23       SOLAPUR                 BARSHI
24     OSMANABAD                 BARSHI
25          BEED                   BEED
26      BHADGAON               BHADGAON
27       JALGAON               BHADGAON
28        NAGPUR               BHANDARA
29      BHANDARA               BHANDARA
30         JALNA               BULDHANA
31      BULDHANA               BULDHANA
32    CHANDRAPUR             CHANDRAPUR
33     RATNAGIRI                CHIPLUN
34       JALGAON                 CHOPDA
35       PALGHAR                 DAHANU
36        SATARA               DAHIWADI
37        GONDIA                  DEORI
38     NANDURBAR               DHADGAON
39        NANDED              DHARMABAD
40      AMRAVATI                 DHARNI
41         DHULE                  DHULE
42    GADCHIROLI             GADCHIROLI
43      KOLHAPUR             GADHINGLAJ
44        GONDIA                 GONDIA
45    CHANDRAPUR             GONDPIPARI
46        NANDED           HIMAYATNAGAR
47        WARDHA             HINGANGHAT
48       HINGOLI                HINGOLI
49          PUNE                INDAPUR
50       SOLAPUR                INDAPUR
51        NANDED               ISLAMPUR
52        SANGLI               ISLAMPUR
53         JALNA               JAFRABAD
54         JALNA                 JALANA
55       JALGAON                JALGAON
56         JALNA                  JALNA
57      BULDHANA                  JALNA
58    AHMEDNAGAR                JAMKHED
59          BEED                JAMKHED
60        SANGLI                    JAT
61        SANGLI                   JATH
62       PALGHAR                 JAWHAR
63    GADCHIROLI             JIMALGATTA
64      PARBHANI                 JINTUR
65          PUNE                 JUNNAR
66          PUNE                 JUNNER
67     OSMANABAD                 KALAMB
68     OSMANABAD                KALLAMB
69        NASHIK                 KALWAN
70    AURANGABAD                 KANNAD
71       JALGAON                 KANNAD
72        SATARA                  KARAD
73        SANGLI                  KARAD
74        WASHIM                KARANJA
75        RAIGAD                 KARJAT
76      BULDHANA               KHAMGAON
77        SATARA               KHANDALA
78        RAIGAD               KHARGHAR
79     RATNAGIRI                   KHED
80        NANDED                 KINWAT
81      KOLHAPUR               KOLHAPUR
82    CHANDRAPUR     KORPANA/GADCHANDUR
83    SINDHUDURG                  KUDAL
84      KOLHAPUR                    KUR
85    GADCHIROLI               KURKHEDA
86         LATUR                  LATUR
87         LATUR                 LATUR
88     OSMANABAD                 LATUR
89   MUMBAI CITY            LOWER PAREL
90         THANE            LOWER PAREL
91        RAIGAD                  MAHAD
92          BEED              MAJALGAON
93        NASHIK               MALEGAON
94          PUNE                MANCHAR
95        RAIGAD                MANGAON
96          BEED             MANJLEGAON
97        NASHIK                 MANMAD
98         JALNA                 MANTHA
99      BULDHANA                MEHAKAR
100     BULDHANA                 MEHKAR
101       NANDED                 MUKHED
102      JALGAON            MUKTAINAGAR
103        AKOLA             MURTIZAPUR
104   CHANDRAPUR                NAGBHID
105       NAGPUR                 NAGPUR
106      HINGOLI                 NANDED
107     PARBHANI                 NANDED
108       NANDED                 NANDED
109    NANDURBAR              NANDURBAR
110       NASHIK                 NASHIK
111    NANDURBAR                NAVAPUR
112     KOLHAPUR                 NESARI
113        LATUR                NILANGA
114    OSMANABAD                 OMERGA
115    OSMANABAD              OSMANABAD
116      PALGHAR                PALGHAR
117     YAVATMAL          PANDHARKAWADA
118     YAVATMAL  PANDHARKHAWAD/KELAPUR
119      SOLAPUR             PANDHARPUR
120     PARBHANI                 PARALI
121         BEED                 PARALI
122     PARBHANI               PARBHANI
123         PUNE                   PAUD
124         PUNE                   PUNE
125     YAVATMAL                  PUSAD
126         PUNE            RAJGURNAGAR
127         PUNE           RAJGURUNAGAR
128       NAGPUR                 RAMTEK
129    RATNAGIRI              RATNAGIRI
130       RAIGAD               RAVDANDA
131        DHULE                  SAKRI
132   AHMEDNAGAR              SANGAMNER
133     KOLHAPUR                 SANGLI
134       SANGLI                 SANGLI
135       SATARA                 SATARA
136   SINDHUDURG             SAWANTWADI
137    NANDURBAR                SHAHADA
138      PALGHAR               SHAHAPUR
139        THANE               SHAHAPUR
140   AHMEDNAGAR               SHEVGAON
141        DHULE                SHIRPUR
142   AHMEDNAGAR                 SHIRUR
143         PUNE                 SHIRUR
144         PUNE              SHRIGONDA
145   AHMEDNAGAR              SHRIGONDA
146   AURANGABAD                 SILLOD
147   CHANDRAPUR              SINDEWAHI
148   GADCHIROLI               SIRONCHA
149      SOLAPUR                SOLAPUR
150       NASHIK                SURGANA
151         PUNE               SWARGATE
152   SINDHUDURG                 TALERE
153        THANE                  THANE
154       RAIGAD                  THANE
155       NASHIK                TRIMBAK
156    OSMANABAD               TULJAPUR
157      SOLAPUR               TULJAPUR
158     BHANDARA                 TUMSAR
159       GONDIA                 TUMSAR
160        LATUR                  UDGIR
161        LATUR                 UMERGA
162    OSMANABAD                 UMERGA
163   AHMEDNAGAR               VAIJAPUR
164   AURANGABAD               VAIJAPUR
165      PALGHAR                  VIRAR
166        THANE                  VIRAR
167       WARDHA                 WARDHA
168   CHANDRAPUR                 WARORA
169     AMRAVATI                  WARUD
170       WASHIM                 WASHIM
171     YAVATMAL               YAVATMAL

**Same "Lab Name" found in multiple distinct**

```
161    OSMANABAD                 UMERGA
162        LATUR                 UMERGA
163   AHMEDNAGAR               VAIJAPUR
164   AURANGABAD               VAIJAPUR
165      PALGHAR                  VIRAR
166        THANE                  VIRAR
```

In [114]:
dflab_wise_business_Ann_I.head(2)

  Division Name District Name  ... Claim Amount  RejectedPatientcount
1      AMRAVATI         Akola  ...   2059433.68                   0.0
2      AMRAVATI         Akola  ...    500517.96                   0.0

[2 rows x 15 columns]

In [115]:
dflab_wise_business_Ann_I['Lab'] = dflab_wise_business_Ann_I['Lab'].str.upper() 
dfCostingSheet1=dfCostingSheet.merge(dflab_wise_business_Ann_I, on=['Lab'])[['District','Lab','Total Revenue']]

In [116]:
dfCostingSheet1

        District                    Lab  Total Revenue
0       AMRAVATI               ACHALPUR     2353274.42
1     AHMEDNAGAR             AHMADNAGAR     2895206.30
2           BEED             AHMADNAGAR     2895206.30
3        SOLAPUR               AKKALKOT      286503.50
4      NANDURBAR              AKKALKUWA      383086.08
5          AKOLA                  AKOLA     2066035.48
6          AKOLA                  AKOT       508406.90
7         RAIGAD                ALIBAUG       82972.98
8     GADCHIROLI              ALLPALLAI     1777514.02
9       AMRAVATI               AMRAVATI     5976330.76
10      YAVATMAL                   ARNI      366691.68
11        WARDHA                   ARVI      938916.96
12       SOLAPUR                 ATPADI      359435.08
13        SANGLI                 ATPADI      359435.08
14    AURANGABAD             AURANGABAD     1645029.90
15      KOLHAPUR              BAMBAVADE      879209.96
16         THANE              BAMBAVADE      879209.96
17        SANGLI              BAMBAVADE      879209.96
18          PUNE               BARAMATI     1542755.82
19        SATARA               BARAMATI     1542755.82
20       SOLAPUR                 BARSHI      572006.62
21     OSMANABAD                 BARSHI      572006.62
22          BEED                   BEED     2590933.88
23      BHADGAON               BHADGAON     1136283.72
24       JALGAON               BHADGAON     1136283.72
25        NAGPUR               BHANDARA     2544560.02
26      BHANDARA               BHANDARA     2544560.02
27         JALNA               BULDHANA      637582.34
28      BULDHANA               BULDHANA      637582.34
29    CHANDRAPUR             CHANDRAPUR     1684644.64
30     RATNAGIRI                CHIPLUN      446559.62
31       JALGAON                 CHOPDA     1014716.04
32       PALGHAR                 DAHANU     1412613.86
33        SATARA               DAHIWADI      366440.76
34        GONDIA                  DEORI      646091.34
35     NANDURBAR               DHADGAON      870477.06
36        NANDED              DHARMABAD      534029.36
37      AMRAVATI                 DHARNI      624862.42
38         DHULE                  DHULE      666721.74
39    GADCHIROLI             GADCHIROLI     1896591.68
40      KOLHAPUR             GADHINGLAJ     1818209.70
41        GONDIA                 GONDIA     1862330.42
42    CHANDRAPUR             GONDPIPARI      250961.94
43        NANDED           HIMAYATNAGAR      568417.78
44        WARDHA             HINGANGHAT     1292635.32
45       HINGOLI                HINGOLI     1558026.16
46          PUNE                INDAPUR      787245.42
47       SOLAPUR                INDAPUR      787245.42
48        NANDED               ISLAMPUR     1181335.62
49        SANGLI               ISLAMPUR     1181335.62
50         JALNA               JAFRABAD      451109.72
51       JALGAON                JALGAON     1259523.56
52         JALNA                  JALNA     1746758.78
53      BULDHANA                  JALNA     1746758.78
54    AHMEDNAGAR                JAMKHED      434764.36
55          BEED                JAMKHED      434764.36
56        SANGLI                   JATH      479404.86
57       PALGHAR                 JAWHAR     1875475.18
58    GADCHIROLI             JIMALGATTA           0.00
59      PARBHANI                 JINTUR      394185.60
60          PUNE                 JUNNAR      748251.94
61     OSMANABAD                KALLAMB      331533.10
62        NASHIK                 KALWAN     1421118.16
63    AURANGABAD                 KANNAD      569869.06
64       JALGAON                 KANNAD      569869.06
65        SATARA                  KARAD      870032.46
66        SANGLI                  KARAD      870032.46
67        WASHIM                KARANJA      954636.36
68        RAIGAD                 KARJAT      419736.50
69      BULDHANA               KHAMGAON     1172378.90
70        SATARA               KHANDALA      259975.14
71        RAIGAD               KHARGHAR     1919726.02
72     RATNAGIRI                   KHED      426718.24
73        NANDED                 KINWAT      400306.98
74      KOLHAPUR               KOLHAPUR     2091435.00
75    CHANDRAPUR     KORPANA/GADCHANDUR      437027.48
76    SINDHUDURG                  KUDAL     1904453.06
77      KOLHAPUR                    KUR      104102.48
78    GADCHIROLI               KURKHEDA      563585.18
79         LATUR                 LATUR      1541480.18
80     OSMANABAD                 LATUR      1541480.18
81   MUMBAI CITY            LOWER PAREL      115657.56
82         THANE            LOWER PAREL      115657.56
83        RAIGAD                  MAHAD      387318.76
84        NASHIK               MALEGAON     2472846.64
85          PUNE                MANCHAR     1087348.96
86        RAIGAD                MANGAON      844203.90
87          BEED             MANJLEGAON      442317.32
88        NASHIK                 MANMAD     1605533.08
89         JALNA                 MANTHA      711493.36
90      BULDHANA                MEHAKAR      490001.58
91        NANDED                 MUKHED      855404.08
92       JALGAON            MUKTAINAGAR      828136.68
93         AKOLA             MURTIZAPUR      262437.34
94    CHANDRAPUR                NAGBHID      472343.32
95        NAGPUR                 NAGPUR     3874516.98
96       HINGOLI                 NANDED     1331198.14
97      PARBHANI                 NANDED     1331198.14
98        NANDED                 NANDED     1331198.14
99     NANDURBAR              NANDURBAR     1874192.72
100       NASHIK                 NASHIK     2648158.84
101    NANDURBAR                NAVAPUR      526709.68
102     KOLHAPUR                 NESARI      701642.34
103        LATUR                NILANGA      345344.22
104    OSMANABAD              OSMANABAD      584393.96
105      PALGHAR                PALGHAR      647537.88
106     YAVATMAL  PANDHARKHAWAD/KELAPUR      811171.46
107      SOLAPUR             PANDHARPUR     2911946.66
108     PARBHANI                 PARALI      647940.40
109         BEED                 PARALI      647940.40
110     PARBHANI               PARBHANI     1694710.36
111         PUNE                   PAUD       80316.62
112         PUNE                   PUNE      784331.88
113     YAVATMAL                  PUSAD     1217275.94
114         PUNE            RAJGURNAGAR      440270.88
115       NAGPUR                 RAMTEK      533348.06
116    RATNAGIRI              RATNAGIRI     1773309.72
117       RAIGAD               RAVDANDA       12232.60
118        DHULE                  SAKRI      805411.16
119   AHMEDNAGAR              SANGAMNER      808599.98
120     KOLHAPUR                 SANGLI     1182800.90
121       SANGLI                 SANGLI     1182800.90
122       SATARA                 SATARA     1613052.00
123   SINDHUDURG             SAWANTWADI     1156908.06
124    NANDURBAR                SHAHADA      499129.02
125      PALGHAR               SHAHAPUR     1388944.70
126        THANE               SHAHAPUR     1388944.70
127   AHMEDNAGAR               SHEVGAON      464038.06
128        DHULE                SHIRPUR     1104854.56
129   AHMEDNAGAR                 SHIRUR      598898.92
130         PUNE                 SHIRUR      598898.92
131         PUNE              SHRIGONDA      490478.54
132   AHMEDNAGAR              SHRIGONDA      490478.54
133   AURANGABAD                 SILLOD      954074.32
134   CHANDRAPUR              SINDEWAHI      235783.08
135   GADCHIROLI               SIRONCHA      180043.02
136      SOLAPUR                SOLAPUR      715801.88
137       NASHIK                SURGANA      730111.70
138         PUNE               SWARGATE     1324231.52
139   SINDHUDURG                 TALERE      822680.38
140        THANE                  THANE     4163352.08
141       RAIGAD                  THANE     4163352.08
142       NASHIK                TRIMBAK      674911.92
143    OSMANABAD               TULJAPUR      392741.38
144      SOLAPUR               TULJAPUR      392741.38
145     BHANDARA                 TUMSAR      979249.18
146       GONDIA                 TUMSAR      979249.18
147        LATUR                  UDGIR     1347008.76
148        LATUR                 UMERGA      792347.62
149    OSMANABAD                 UMERGA      792347.62
150   AHMEDNAGAR               VAIJAPUR      696991.52
151   AURANGABAD               VAIJAPUR      696991.52
152      PALGHAR                  VIRAR      332009.12
153        THANE                  VIRAR      332009.12
154       WARDHA                 WARDHA     2080000.10
155   CHANDRAPUR                 WARORA      458187.12
156     AMRAVATI                  WARUD     1102376.74
157       WASHIM                 WASHIM     1636120.86
158     YAVATMAL               YAVATMAL     1256367.48