<a href="https://colab.research.google.com/github/dharmendra-chouhan/s2datascience/blob/master/Costing_Sheet_Dec_2019_with_All_annexures_13102020_metting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [468]:
pip install xlsxwriter

Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.6/dist-packages (1.3.7)

In [469]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.6/dist-packages (0.18.0)

In [470]:
#@title *Read a Excel file from a Google drive** {display-mode: "form"}
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


# Lab Wise Business Report_Annexure-I.xls
downloaded = drive.CreateFile({'id':'1W31V3JFrzJDpcOIOHlpCY6ETrfxTU5Ue'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Lab Wise Business Report_Annexure-I.xls')

# Lab Wise Business Report_Annexure-I.xls
dflab_wise_business_Ann_I =  pd.read_excel('Lab Wise Business Report_Annexure-I.xls')
dflab_wise_business_Ann_I=dflab_wise_business_Ann_I.drop([0])

# HLL Expenses Summary-Annexure-II.xlsx
downloaded = drive.CreateFile({'id':'1NaFIGXdD7WMiMIpjkkNSCi2m4YOtSIR9'}) # replace the id with id of file you want to access
downloaded.GetContentFile('HLL Expenses Summary-Annexure-II.xlsx')



# HLL Expenses Summary-Annexure-II.xlsx
dfhll_exp_sum_aII_CONSUMABLES =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='CONSUMABLES', skiprows=1)
dfhll_exp_sum_aII_RENT =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='RENT', skiprows=1)
dfhll_exp_sum_aII_THYROCARE =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='THYROCARE', skiprows=1)
dfhll_exp_sum_aII_PATHOLOGIST =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='PATHOLOGIST', skiprows=1)

dflab_wise_business_Ann_I = dflab_wise_business_Ann_I.rename(columns={'Lab Name': 'Lab'})
dfhll_exp_sum_aII_CONSUMABLES = dfhll_exp_sum_aII_CONSUMABLES.rename(columns={'Location': 'Lab'})
dfhll_exp_sum_aII_RENT = dfhll_exp_sum_aII_RENT.rename(columns={'LAB LOCATION': 'Lab'})
dfhll_exp_sum_aII_THYROCARE = dfhll_exp_sum_aII_THYROCARE.rename(columns={'LOCATION': 'Lab'})
dfhll_exp_sum_aII_PATHOLOGIST = dfhll_exp_sum_aII_PATHOLOGIST.rename(columns={'Lab Name': 'Lab'})


#   2. dfhll_exp_sum_aII_CONSUMABLES
dfhll_exp_sum_aII_CONSUMABLES['Lab'] = dfhll_exp_sum_aII_CONSUMABLES['Lab'].str.upper()
dfhll_exp_sum_aII_CONSUMABLES['Lab'] = dfhll_exp_sum_aII_CONSUMABLES['Lab'].str.strip()

  #   3. dfhll_exp_sum_aII_RENT
dfhll_exp_sum_aII_RENT['Lab'] = dfhll_exp_sum_aII_RENT['Lab'].str.upper()
dfhll_exp_sum_aII_RENT['Lab'] = dfhll_exp_sum_aII_RENT['Lab'].str.strip()
  #   4. dfhll_exp_sum_aII_THYROCARE
dfhll_exp_sum_aII_THYROCARE['Lab'] = dfhll_exp_sum_aII_THYROCARE['Lab'].str.upper()
dfhll_exp_sum_aII_THYROCARE['Lab'] = dfhll_exp_sum_aII_THYROCARE['Lab'].str.strip()
  #   5. dfhll_exp_sum_aII_PATHOLOGIST
dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].str.upper()
dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].str.strip()

dfhll_exp_sum_aII_PATHOLOGIST=dfhll_exp_sum_aII_PATHOLOGIST.groupby(['Lab'])['Salary revision if any'].agg('sum').reset_index()

# dfhll_exp_sum_aII_PATHOLOGIST=dfhll_exp_sum_aII_PATHOLOGIST[['Lab','Salary revision if any']]

dflab_wise_business_Ann_I['Lab'] = dflab_wise_business_Ann_I['Lab'].str.upper()
dflab_wise_business_Ann_I['Lab'] = dflab_wise_business_Ann_I['Lab'].str.strip()

dfhll_exp_sum_aII_RENT_groupsum=dfhll_exp_sum_aII_RENT.groupby(['Lab'])['DEC'].agg('sum').reset_index()


dfhll_exp_sum_aII_CONSUMABLES=dfhll_exp_sum_aII_CONSUMABLES.groupby(['Lab'])['Invoice Amt'].agg('sum').reset_index()

dfhll_exp_sum_aII_THYROCARE=dfhll_exp_sum_aII_THYROCARE.groupby(['Lab'])['Sum of BILLED'].agg('sum').reset_index()

# DataFrame EXCEL sheet wise

# Cosolidated sheet for Dec 2019_Annexure-3.xlsx
  1. dfCosolidated_sheet_for_Dec_2019_Annexure_3

# HLL Expenses Summary-Annexure-II.xlsx
  2. dfhll_exp_sum_aII_CONSUMABLES
  3. dfhll_exp_sum_aII_RENT
  4. dfhll_exp_sum_aII_THYROCARE
  5. dfhll_exp_sum_aII_PATHOLOGIST

# Lab Wise Business Report_Annexure-I.xls
  6. dflab_wise_business_Ann_I

# Rent for Dec 19_Annexure-5.xlsx
  7.dfRentDec19_Annexure_5

In [471]:
import pandas as pd
from google.colab import files
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

CostingSheet = pd.DataFrame()
dflab_wise_business_Ann_I['Lab']=dflab_wise_business_Ann_I['Lab'].str.strip()
CostingSheet['LAB NAME']=dflab_wise_business_Ann_I['Lab']
CostingSheet['District']=dflab_wise_business_Ann_I['District Name']
CostingSheet['Type of LAB']=''
CostingSheet['No. of Test']=dflab_wise_business_Ann_I['Total Special']+dflab_wise_business_Ann_I['Total Normal']
CostingSheet['No. of Sample']=dflab_wise_business_Ann_I['Total Patient']
CostingSheet['MONTH']='Dec'
CostingSheet['Total Revenue']=dflab_wise_business_Ann_I['Total Revenue']
CostingSheet['TAT']=dflab_wise_business_Ann_I['Total Penalty']
CostingSheet['Revenue After TAT']=dflab_wise_business_Ann_I['Claim Amount']
CostingSheet['HLL Margin @ 6.01%']=''


dfhll_exp_sum_aII_RENT = dfhll_exp_sum_aII_RENT[dfhll_exp_sum_aII_RENT['Lab'].notna()]
dfhll_exp_sum_aII_RENT_groupsum['Lab']=dfhll_exp_sum_aII_RENT_groupsum['Lab'].str.strip()

rent_mismatch=dfhll_exp_sum_aII_RENT_groupsum[~dfhll_exp_sum_aII_RENT_groupsum.Lab.isin(CostingSheet['LAB NAME'].values)]
rent_missingdata=dfhll_exp_sum_aII_RENT_groupsum[~dfhll_exp_sum_aII_RENT_groupsum.Lab.isin(CostingSheet['LAB NAME'].values)]

for i, j in rent_missingdata.iterrows():
    labrent=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 70]['LAB NAME'].count()==1 

    if  labrent==1:
      newvalues=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 70]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_RENT_groupsum['Lab'] = dfhll_exp_sum_aII_RENT_groupsum['Lab'].replace([j['Lab']],newvalues)

rent_missingdata=dfhll_exp_sum_aII_RENT_groupsum[~dfhll_exp_sum_aII_RENT_groupsum.Lab.isin(CostingSheet['LAB NAME'].values)]
for i, j in rent_missingdata.iterrows():
    labrent=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 90]['LAB NAME'].count()==1 

    if  labrent==1:
      newvalues=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 90]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_RENT_groupsum['Lab'] = dfhll_exp_sum_aII_RENT_groupsum['Lab'].replace([j['Lab']],newvalues)


CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_RENT_groupsum, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
# CostingSheet=CostingSheet.drop(['key'], axis = 1) 
CostingSheet.rename(columns = {'DEC':'Rent'}, inplace = True) 

rent_missingdata=dfhll_exp_sum_aII_RENT_groupsum[~dfhll_exp_sum_aII_RENT_groupsum.Lab.isin(CostingSheet['LAB NAME'].values)]


for i, j in rent_missingdata.iterrows():
  x=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]
  x=x[x['Rent'].isnull()]
  labrent=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].count()==1 
  if  labrent==1:
      newvalues=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_RENT_groupsum['Lab'] = dfhll_exp_sum_aII_RENT_groupsum['Lab'].replace([j['Lab']],newvalues)


CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_RENT_groupsum, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet=CostingSheet.drop(['Rent'], axis = 1) 
CostingSheet.rename(columns = {'DEC':'Rent'}, inplace = True)
rent_missingdata=dfhll_exp_sum_aII_RENT_groupsum[~dfhll_exp_sum_aII_RENT_groupsum.Lab.isin(CostingSheet['LAB NAME'].values)]



CostingSheet['FTC & Permanent Employee Salary']=''


dfhll_exp_sum_aII_PATHOLOGIST['Lab']=dfhll_exp_sum_aII_PATHOLOGIST['Lab'].str.strip()
PathalogistConsultancy_missingdata=dfhll_exp_sum_aII_PATHOLOGIST[~dfhll_exp_sum_aII_PATHOLOGIST.Lab.isin(CostingSheet['LAB NAME'].values)]
PathalogistConsultancy_missingdata_all=dfhll_exp_sum_aII_PATHOLOGIST[~dfhll_exp_sum_aII_PATHOLOGIST.Lab.isin(CostingSheet['LAB NAME'].values)]
for i, j1 in PathalogistConsultancy_missingdata.iterrows():
    labrent=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j1['Lab']), axis=1) > 70]['LAB NAME'].count()==1 

    if  labrent==1:
      newvalues=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j1['Lab']), axis=1) > 70]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].replace([j1['Lab']],newvalues)

# dfhll_exp_sum_aII_PATHOLOGIST['Lab']=dfhll_exp_sum_aII_PATHOLOGIST['Lab'].str.strip()
# CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_PATHOLOGIST, how='left', left_on='LAB NAME', right_on='Lab')
# CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
# CostingSheet.rename(columns = {'Salary revision if any':'Pathalogist Consultancy'}, inplace = True) 

PathalogistConsultancy_missingdata=dfhll_exp_sum_aII_PATHOLOGIST[~dfhll_exp_sum_aII_PATHOLOGIST.Lab.isin(CostingSheet['LAB NAME'].values)]

for i, j1 in PathalogistConsultancy_missingdata.iterrows():
    labrent=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j1['Lab']), axis=1) > 90]['LAB NAME'].count()==1 

    if  labrent==1:
      newvalues=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j1['Lab']), axis=1) > 90]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].replace([j1['Lab']],newvalues)


CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_PATHOLOGIST, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Salary revision if any':'Pathalogist Consultancy'}, inplace = True) 

PathalogistConsultancy_missingdata=dfhll_exp_sum_aII_PATHOLOGIST[~dfhll_exp_sum_aII_PATHOLOGIST.Lab.isin(CostingSheet['LAB NAME'].values)]

for i, j in PathalogistConsultancy_missingdata.iterrows():
  x=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]
  x=x[x['Pathalogist Consultancy'].isnull()]
  labrent=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].count()==1 
  if  labrent==1:
      newvalues=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].replace([j['Lab']],newvalues)

CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_PATHOLOGIST, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet=CostingSheet.drop(['Pathalogist Consultancy'], axis = 1) 
CostingSheet.rename(columns = {'Salary revision if any':'Pathalogist Consultancy'}, inplace = True)

PathalogistConsultancy_missingdata=dfhll_exp_sum_aII_PATHOLOGIST[~dfhll_exp_sum_aII_PATHOLOGIST.Lab.isin(CostingSheet['LAB NAME'].values)]


CONSUMABLES_missingdata=dfhll_exp_sum_aII_CONSUMABLES[~dfhll_exp_sum_aII_CONSUMABLES.Lab.isin(CostingSheet['LAB NAME'].values)]
CONSUMABLES_missingdat_all=dfhll_exp_sum_aII_CONSUMABLES[~dfhll_exp_sum_aII_CONSUMABLES.Lab.isin(CostingSheet['LAB NAME'].values)]
for i, j in CONSUMABLES_missingdata.iterrows():
  x=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]
  x=x[x['Rent'].isnull()]
  labrent=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].count()==1 
  if  labrent==1:
      newvalues=x[x.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 80]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_CONSUMABLES['Lab'] = dfhll_exp_sum_aII_CONSUMABLES['Lab'].replace([j['Lab']],newvalues)


dfhll_exp_sum_aII_CONSUMABLES['Lab']=dfhll_exp_sum_aII_CONSUMABLES['Lab'].str.strip()
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_CONSUMABLES, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Invoice Amt':'Reagent'}, inplace = True) 
CONSUMABLES_missingdata=dfhll_exp_sum_aII_CONSUMABLES[~dfhll_exp_sum_aII_CONSUMABLES.Lab.isin(CostingSheet['LAB NAME'].values)]


THYROCARE_missingdata=dfhll_exp_sum_aII_THYROCARE[~dfhll_exp_sum_aII_THYROCARE.Lab.isin(CostingSheet['LAB NAME'].values)]
THYROCARE_missingdata_all=dfhll_exp_sum_aII_THYROCARE[~dfhll_exp_sum_aII_THYROCARE.Lab.isin(CostingSheet['LAB NAME'].values)]
for i, j in THYROCARE_missingdata.iterrows():
    labrent=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 70]['LAB NAME'].count()==1 

    if  labrent==1:
      newvalues=CostingSheet[CostingSheet.apply(lambda row: fuzz.token_sort_ratio(row['LAB NAME'], j['Lab']), axis=1) > 70]['LAB NAME'].values[0]
      dfhll_exp_sum_aII_THYROCARE['Lab'] = dfhll_exp_sum_aII_THYROCARE['Lab'].replace([j['Lab']],newvalues)




dfhll_exp_sum_aII_THYROCARE['Lab']=dfhll_exp_sum_aII_THYROCARE['Lab'].str.strip()
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_THYROCARE, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Sum of BILLED':'Payment to Thyrocare for Outsourcing Test'}, inplace = True) 

THYROCARE_missingdata=dfhll_exp_sum_aII_THYROCARE[~dfhll_exp_sum_aII_THYROCARE.Lab.isin(CostingSheet['LAB NAME'].values)]


CostingSheet.to_excel('CostingSheet.xlsx', sheet_name='dfCostingSheet')
files.download('CostingSheet.xlsx')

In [484]:
import pandas as pd


# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('mismatch_data.xlsx', engine='xlsxwriter')

# Position the dataframes in the worksheet.

rent_mismatch.to_excel(writer, sheet_name='Rent')  # Default position, cell A1.
rent_missingdata.to_excel(writer, sheet_name='Rent', startcol=3)


# Position the dataframes in the worksheet.
PathalogistConsultancy_missingdata_all.to_excel(writer, sheet_name='Pathalogist Consultancy')  # Default position, cell A1.
PathalogistConsultancy_missingdata.to_excel(writer, sheet_name='Pathalogist Consultancy', startcol=3)


CONSUMABLES_missingdat_all.to_excel(writer, sheet_name='Reagent')  # Default position, cell A1.
CONSUMABLES_missingdata.to_excel(writer, sheet_name='Reagent', startcol=3)

THYROCARE_missingdata_all.to_excel(writer, sheet_name='PaymenttoThyrocare')  # Default position, cell A1.
THYROCARE_missingdata.to_excel(writer, sheet_name='PaymenttoThyrocare', startcol=3)


# Close the Pandas Excel writer and output the Excel file.
writer.save()
from google.colab import files
files.download(writer)

In [473]:
PathalogistConsultancy_missingdata

             Lab  Salary revision if any
33    GARCHANDUR                 30000.0
37        HARSUL                 50000.0
87  PANDHARKWADA                 50000.0
94        RAIGAD                 52500.0

In [474]:
PathalogistConsultancy_missingdata_all

             Lab  Salary revision if any
1     AHMEDNAGAR           100000.000000
6         ALIBAG            30000.000000
7      ALLAPALLI            28333.333333
32   GADHINGLANJ            25000.000000
33    GARCHANDUR            30000.000000
36     GONDPIPRI            30000.000000
37        HARSUL            50000.000000
51        KALAMB            20000.000000
54         KANND            18375.000000
63     KURUKHEDA            28333.333333
67     MAJALGAON            22050.000000
75  MUKHTAINAGAR            35000.000000
77         NAGBD            21000.000000
81         NASIK           110000.000000
87  PANDHARKWADA            50000.000000
94        RAIGAD            52500.000000
95  RAJGURUNAGAR            20000.000000

In [475]:
rent_mismatch

              Lab     DEC
1      AHMEDNAGAR   45342
4          ALIBAG  156139
31      MAJALGAON   13842
42         OMERGA   19086
43       OSMANBAD   17303
44  PANDHARKAWADA   12100
47          PARLI   35866

In [476]:
rent_missingdata

Empty DataFrame
Columns: [Lab, DEC]
Index: []

In [477]:
CONSUMABLES_missingdat_all

         Lab  Invoice Amt
28  OSMANBAD        93576

In [478]:
CONSUMABLES_missingdata

         Lab  Invoice Amt
28  OSMANBAD        93576

In [479]:
THYROCARE_missingdata

            Lab  Sum of BILLED
54  MANJALEGAON        1394.54
77       SAHADA        1699.63

In [480]:
THYROCARE_missingdata_all

            Lab  Sum of BILLED
1    AHMEDNAGAR       15675.63
6     ALLAPALLI        6653.92
37          JAT        2491.16
54  MANJALEGAON        1394.54
57       MEHKAR         269.50
61      NAGBHIR        1885.78
77       SAHADA        1699.63
79      SANGALI      264393.43
88        SILOD        4521.85