<a href="https://colab.research.google.com/github/dharmendra-chouhan/s2datascience/blob/master/Costing_Sheet_Dec_2019_with_All_annexures_13102020_metting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [99]:
#@title *Read a Excel file from a Google drive** {display-mode: "form"}
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
import pandas as pd

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


# Lab Wise Business Report_Annexure-I.xls
downloaded = drive.CreateFile({'id':'1W31V3JFrzJDpcOIOHlpCY6ETrfxTU5Ue'}) # replace the id with id of file you want to access
downloaded.GetContentFile('Lab Wise Business Report_Annexure-I.xls')

# Lab Wise Business Report_Annexure-I.xls
dflab_wise_business_Ann_I =  pd.read_excel('Lab Wise Business Report_Annexure-I.xls')
dflab_wise_business_Ann_I=dflab_wise_business_Ann_I.drop([0])

# HLL Expenses Summary-Annexure-II.xlsx
downloaded = drive.CreateFile({'id':'1NaFIGXdD7WMiMIpjkkNSCi2m4YOtSIR9'}) # replace the id with id of file you want to access
downloaded.GetContentFile('HLL Expenses Summary-Annexure-II.xlsx')



# HLL Expenses Summary-Annexure-II.xlsx
dfhll_exp_sum_aII_CONSUMABLES =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='CONSUMABLES', skiprows=1)
dfhll_exp_sum_aII_RENT =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='RENT', skiprows=1)
dfhll_exp_sum_aII_THYROCARE =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='THYROCARE', skiprows=1)
dfhll_exp_sum_aII_PATHOLOGIST =  pd.read_excel('HLL Expenses Summary-Annexure-II.xlsx', sheet_name='PATHOLOGIST', skiprows=1)

dflab_wise_business_Ann_I = dflab_wise_business_Ann_I.rename(columns={'Lab Name': 'Lab'})
dfhll_exp_sum_aII_CONSUMABLES = dfhll_exp_sum_aII_CONSUMABLES.rename(columns={'Location': 'Lab'})
dfhll_exp_sum_aII_RENT = dfhll_exp_sum_aII_RENT.rename(columns={'LAB LOCATION': 'Lab'})
dfhll_exp_sum_aII_THYROCARE = dfhll_exp_sum_aII_THYROCARE.rename(columns={'LOCATION': 'Lab'})
dfhll_exp_sum_aII_PATHOLOGIST = dfhll_exp_sum_aII_PATHOLOGIST.rename(columns={'Lab Name': 'Lab'})


#   2. dfhll_exp_sum_aII_CONSUMABLES
dfhll_exp_sum_aII_CONSUMABLES['Lab'] = dfhll_exp_sum_aII_CONSUMABLES['Lab'].str.upper()
  #   3. dfhll_exp_sum_aII_RENT
dfhll_exp_sum_aII_RENT['Lab'] = dfhll_exp_sum_aII_RENT['Lab'].str.upper()
  #   4. dfhll_exp_sum_aII_THYROCARE
dfhll_exp_sum_aII_THYROCARE['Lab'] = dfhll_exp_sum_aII_THYROCARE['Lab'].str.upper()
  #   5. dfhll_exp_sum_aII_PATHOLOGIST
dfhll_exp_sum_aII_PATHOLOGIST['Lab'] = dfhll_exp_sum_aII_PATHOLOGIST['Lab'].str.upper()

dfhll_exp_sum_aII_PATHOLOGIST=dfhll_exp_sum_aII_PATHOLOGIST.groupby(['Lab'])['Salary revision if any'].agg('sum').reset_index()

# dfhll_exp_sum_aII_PATHOLOGIST=dfhll_exp_sum_aII_PATHOLOGIST[['Lab','Salary revision if any']]

dflab_wise_business_Ann_I['Lab'] = dflab_wise_business_Ann_I['Lab'].str.upper()


dfhll_exp_sum_aII_RENT_groupsum=dfhll_exp_sum_aII_RENT.groupby(['Lab'])['DEC'].agg('sum').reset_index()


dfhll_exp_sum_aII_CONSUMABLES=dfhll_exp_sum_aII_CONSUMABLES.groupby(['Lab'])['Invoice Amt'].agg('sum').reset_index()

dfhll_exp_sum_aII_THYROCARE=dfhll_exp_sum_aII_THYROCARE.groupby(['Lab'])['Sum of BILLED'].agg('sum').reset_index()

# DataFrame EXCEL sheet wise

# Cosolidated sheet for Dec 2019_Annexure-3.xlsx
  1. dfCosolidated_sheet_for_Dec_2019_Annexure_3

# HLL Expenses Summary-Annexure-II.xlsx
  2. dfhll_exp_sum_aII_CONSUMABLES
  3. dfhll_exp_sum_aII_RENT
  4. dfhll_exp_sum_aII_THYROCARE
  5. dfhll_exp_sum_aII_PATHOLOGIST

# Lab Wise Business Report_Annexure-I.xls
  6. dflab_wise_business_Ann_I

# Rent for Dec 19_Annexure-5.xlsx
  7.dfRentDec19_Annexure_5

In [100]:
import pandas as pd
from google.colab import files
CostingSheet = pd.DataFrame()
CostingSheet['LAB NAME']=dflab_wise_business_Ann_I['Lab']
CostingSheet['District']=dflab_wise_business_Ann_I['District Name']
CostingSheet['Type of LAB']=''
CostingSheet['No. of Test']=dflab_wise_business_Ann_I['Total Special']+dflab_wise_business_Ann_I['Total Normal']
CostingSheet['No. of Sample']=dflab_wise_business_Ann_I['Total Patient']
CostingSheet['MONTH']='Dec'
CostingSheet['Total Revenue']=dflab_wise_business_Ann_I['Total Revenue']
CostingSheet['TAT']=dflab_wise_business_Ann_I['Total Penalty']
CostingSheet['Revenue After TAT']=dflab_wise_business_Ann_I['Claim Amount']
CostingSheet['HLL Margin @ 6.01%']=''
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_RENT_groupsum, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'DEC':'Rent'}, inplace = True) 
CostingSheet['FTC & Permanent Employee Salary']=''
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_PATHOLOGIST, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Salary revision if any':'Pathalogist Consultancy'}, inplace = True) 
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_CONSUMABLES, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Invoice Amt':'Reagent'}, inplace = True) 
CostingSheet = pd.merge(CostingSheet, dfhll_exp_sum_aII_THYROCARE, how='left', left_on='LAB NAME', right_on='Lab')
CostingSheet=CostingSheet.drop(['Lab'], axis = 1) 
CostingSheet.rename(columns = {'Sum of BILLED':'Payment to Thyrocare for Outsourcing Test'}, inplace = True) 
CostingSheet.to_excel('CostingSheet.xlsx', sheet_name='dfCostingSheet')
files.download('CostingSheet.xlsx')

In [101]:
CostingSheet.head(5)

     LAB NAME  District  ...   Reagent  Payment to Thyrocare for Outsourcing Test
0       AKOLA     Akola  ...  580138.0                                  115309.04
1       AKOT      Akola  ...       NaN                                        NaN
2  MURTIZAPUR     Akola  ...       NaN                                    3207.54
3    ACHALPUR  Amravati  ...  131127.0                                   11118.01
4    AMRAVATI  Amravati  ...  915516.0                                   16282.06

[5 rows x 15 columns]