<a href="https://colab.research.google.com/github/dharmendra-chouhan/s2datascience/blob/master/HRMS_Master_Tracker___Neha.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#@title *install xlsxwriter** {display-mode: "form"}
!pip install xlsxwriter

Collecting xlsxwriter
  Downloading https://files.pythonhosted.org/packages/6b/41/bf1aae04932d1eaffee1fc5f8b38ca47bbbf07d765129539bc4bcce1ce0c/XlsxWriter-1.3.7-py2.py3-none-any.whl (144kB)
     |████████████████████████████████| 153kB 5.0MB/s
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-1.3.7

In [4]:
#@title *Read a Excel file from a Google drive** {display-mode: "form"}
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#2. Get the file Cosolidated sheet for Dec 2019_Annexure-3.xlsx
downloaded = drive.CreateFile({'id':'1W8YxCVOE0uh02ytb4tZiorhQ9q-g9yfI'}) # replace the id with id of file you want to access
downloaded.GetContentFile('HRMS Master Tracker _ Neha.xlsx')  


import pandas as pd

# Master Tracker 18_08_2020.xlsx
dfCosolidated_sheet_for_Dec_2019_Annexure_3 =  pd.read_excel('HRMS Master Tracker _ Neha.xlsx', sheet_name='Active Employee', skiprows=1)

In [8]:
#@title *Select Grade-Project*/ Generating an Excel file *  {display-mode: "form"}
import pandas as pd
import xlsxwriter



productlist =list(dfCosolidated_sheet_for_Dec_2019_Annexure_3.Grade.unique())
# Grade = 'BPMS' #@param ['Aadhar','Aaple Sarkar','ADHARDC','AHF','AHM', 'Bharat Net (MBN 2)', 'BPMS', 'BPMS Corp', 'BPMS_ULB', 'CIDCO', 'Citizen Services', 'CRF', 'CS Office 2', 'CST', 'CSVJNT', 'DAT', 'DAT-Finance  Project', 'DBT', 'DCM', 'DIT', 'DIT 2', 'DIT SETU', 'DMA', 'Farm Loan Waiver', 'Farm Loan Waiver 2', 'FCS', 'FCSCP', 'FDA 2', 'FMS', 'HRC', 'HTE Sevaarth', 'Human Right 2', 'IGR', 'IGR033', 'IGR16', 'IGR6', 'IT Minister', 'MADC', 'Maha IT Internal', 'Maha Pariksha', 'Maha Sadan', 'MBN', 'MHADA', 'MIT', 'MIT Chiefdataofficer', 'NIC', 'NIC AGRI', 'NIC Primary Education', 'Panchayat Raj Sevart', 'Plant Projection', 'PMK', 'RDD Saral OTT', 'RDDN', 'Rera Kerala', 'Revenue Forest Dept', 'Sau Sevarth App', 'SESD', 'Sevarth for Ayurveda', 'Sevarth Samaj Sevart', 'Soil Testing', 'Soil Water New', 'UDD', 'ULB', 'VET', 'VJNT', 'WCD628', 'Zilla Parishad', 'Zilla Parishad DPL', 'Home Minister']
Grade = 'Here' #@param ['E','M','Here','I','Aadhar','Aaple Sarkar','ADHARDC','AHF','AHM', 'Bharat Net (MBN 2)', 'BPMS', 'BPMS Corp', 'BPMS_ULB', 'Citizen Services', 'CRF', 'CST', 'CSVJNT', 'DAT', 'DAT-Finance  Project', 'DBT', 'DCM', 'DIT', 'DIT 2', 'DIT SETU', 'DMA', 'Farm Loan Waiver', 'Farm Loan Waiver 2', 'FCS', 'FCSCP', 'FDA 2', 'FMS', 'HRC', 'HTE Sevaarth', 'Human Right 2', 'IGR', 'IGR033', 'IGR16', 'IGR6', 'IT Minister', 'MADC', 'Maha IT Internal', 'Maha Pariksha', 'Maha Sadan', 'MBN', 'MHADA', 'MIT', 'MIT Chiefdataofficer', 'NIC', 'NIC AGRI', 'NIC Primary Education', 'Panchayat Raj Sevart', 'Plant Projection', 'PMK', 'RDD Saral OTT', 'RDDN', 'Rera Kerala', 'Revenue Forest Dept', 'Sau Sevarth App', 'SESD', 'Sevarth for Ayurveda', 'Sevarth Samaj Sevart', 'Soil Testing', 'Soil Water New', 'UDD', 'VET', 'VJNT', 'WCD628', 'Zilla Parishad', 'Zilla Parishad DPL', 'Home Minister']

df1=dfCosolidated_sheet_for_Dec_2019_Annexure_3[dfCosolidated_sheet_for_Dec_2019_Annexure_3["Grade"] == Grade]
df = pd.DataFrame() 
df[['Old Employee ID *']]=df1[['E Code']]
splitted =  df1['Employee Name'].str.split()
df['Employee First Name (English)*'] = splitted.str[0]
df['Employee Middle Name (English)*'] =  df1['Employee Name'].loc[ df1['Employee Name'].str.split().str.len() == 3].str.split(expand=True)[1]
df['Employee Last Name (English)*'] = splitted.str[-1]
# df1['Adhar No']=df1['Adhar No'].str.strip()
# df1['Adhar No']=df1['Adhar No'].str.replace(' ', '')
# df1['Adhar No']=df1['Adhar No'].str.replace('-', '') 

df[['Aadhar No','Pan No']]=df1[['Adhar No','PAN No']]
df['Election card no.']=''
df[['Gender']]=df1[['Gender']]
df[['Date Of Birth *']]=pd.to_datetime(df1['Date of Birth']).dt.date
df['Height *']=''
df['Birth Place']=''
df['Blood Group *']=df1[['Blood Group']]
df['Blood Group *'] = df['Blood Group *'].fillna('Other')
df[['maritial Status *']]=df1[['Maritial Status']]

df['Mobile No. *'] =df1['Contact No']
df['Phone No.']=df1['Contact No']
df['Emergency Contact Person Name']=''
df[['Emergency Contact Person Number','Email ID *']]=df1[['Emergency Contact','Email Id ']]
df[['Official Email ID *']]=df1[['Email Id ']]
df['Employee is Physically Disable?']='No'
df['Disability Type']=''
df['Percentage Disability']=''
df[['PF Number *']]=df1['Pf No '].astype(str).replace('\.0', '', regex=True)
# df[['UAN Number']]=df1['UAN No '].astype(str).replace('\.0', '', regex=True)
df[['UAN Number']]=''
df['Hobbies *']='Not Provided'
df['Flat No / House *'], df['Street / Road Name *'] = df1['Address'].str[:50], df1['Address'].str[50:]
# df['Flat No / House *'] = df['Flat No / House *']+df['Street / Road Name *'].str.split(',').str.get(0)
# df['Street / Road Name *'] = df['Street / Road Name *'].astype('str').map(lambda x: x.lstrip(str(df['Street / Road Name *'].str.split(',').str.get(0))).rstrip(''))
df['Area *']=''
df[['City *','State *']]=df1[['Sub Location','State']]
df['Pincode *']= df1['Address'].str.extract(r'(\d{5}\-?\d{0,6})')
df['Communication Address Same As a Permanent Address?']='Yes'
df['Communication Flat No / House *']=df['Flat No / House *']
df['Communication Street / Road Name *']=df['Street / Road Name *']
df['Communication Area *']=''
df[['Communication City *','Communication State*','Communication Pincode *']]=df[['City *','State *','Pincode *']]
df['Native Address Same As a Permanent Address?']='Yes'
df['Native Flat No / House *']=df['Flat No / House *']
df['Native Street / Road Name *']=df['Street / Road Name *']
df['Native Area *']=''
df[['Native City *','Native State*','Native Pincode *']]=df[['City *','State *','Pincode *']]
df['Religion']='Other'
df['Mother Tongue']='English'
df['Caste Employee']='Open'
df['Category']='Project Employee'
df['Appointment / Offer Letter Order No.']=''
df['Appointment / Offer Letter Order Date']=df1['Offer Date']
df['Employee Type *']=df1[['Emp Type']]
df['(Taluka)Block *']=df1[['Work Location/District']]
df['Current Department *']= df1[['Department']] 
df['Confirmation Order No.']=''
df['Confirmation Order Date']=''
df['Current Designation *']=df1[['Designation']]
df['Current Location *']=df1[['Work Location/District']]
df['Old CTC']=''
df['Date Of Joining *']=pd.to_datetime(df1['DOJ']).dt.date
df['Retirement Date']=''
df['Previous Organization Behaviour Certificate Given?']='No'
df['Behaviour Order No.']=''
df['Behaviour Order Date']=''
df['Is there Any Department Enquiry']=''
df['Department Enquiry Order No.']=''
df['Department Enquiry Order Date']=''
df['Remark']=''
df['Probation From Date *']=pd.to_datetime(df1['DOJ']).dt.date
df['Probation To Date *']=pd.to_datetime(df1['DOJ'])
from datetime import timedelta
df['Probation To Date *']=pd.to_datetime(df['Probation To Date *'] +timedelta(90)).dt.date
df['Probation Period No. Of Days *']=''
df['Type Separation']=''
df['Date of Separation']=''
df['Gratuity Date']=''
df['Full and Final Settlement Date']=''
df['Bank A/C No *']=df1['Bank Account Number']
df['Bank Name *']=df1['Bank Name']  
df['Bank Branch *']=df1['Branch']  
df['IFSC Code *']=df1['IFSC Code'] 
df['MICR Code']=''
df['Zone']=df1['Work Location/District']   
df['Sub Zone']=df1['Sub Location'] 
df['DCPS No.']=''
# df['Total Work Experience']=df1['Total Experience']
df['Total Work Experience']=0
df['Payment Processed By']='ECS'
df['Joining Location']=df1['Work Location/District']
df['New CTC']=df1['ANNUAL CTC']  
df['Current State']=df[['State *']]
df['Current City']=df[['City *']]
df['Current location']=df1['Work Location/District']
df['Joining State']=df[['State *']]
df['Joining City']=df1['Sub Location']
df['Joining location 1']=df1['Work Location/District']
df['Date Of Birth *'] =pd.to_datetime(df['Date Of Birth *']).dt.date
df = df.replace('nan',"")
for index, row in df.iterrows():
  ifor_val=str(row['Mobile No. *'])
  if len(ifor_val) == 10:
    
    df.loc[index, 'Mobile No. *'] = ifor_val
  else:
    df.loc[index, 'Mobile No. *'] =ifor_val[:10]

for index, row in df.iterrows():
  Maritial=str(row['maritial Status *'])

  if Maritial =='M':
    df.loc[index,'maritial Status *']='Married'
  else:
    df.loc[index,'maritial Status *']='Unmarried'

writer = pd.ExcelWriter(Grade+'.xlsx', engine='xlsxwriter')

df2 = pd.DataFrame()

df2[['Old Employee ID *']]=df1[['E Code']]
df2[['Spouse Name']]=df1['Spouse Name']
df2[['Spouse DOB']]=df1['Date of Birth(Spouse)']
df2[['Father Name']]=df1['Father Name']
df2[['Father DOB']]=df1['DOB']
df2[['Mother Name']]=df1['Mother Name']
df2[['Mother DOB']]=df1['DOB.1']
df2[['1st Child Name']]=df1['Child Name 1']
df2[['1st Child DOB']]=df1['Date of Birth(child1)']
df2[['2nd Child Name']]=df1['Child Name 2']
df2[['2nd Child DOB']]=df1['Date of Birth (Child 2)']
df2[['Dependant Name']]=''
df2[['Dependant Relation']]=''
df2[['Father Occupation']]=''
df2[['Mother Occupation']]=''
df2[['Spouse Occupation']]=''
df2[['First Child Occupation']]=''
df2[['Second Child Occupation']]=''
df.to_excel(writer, sheet_name='Personal Details')
df2.to_excel(writer, sheet_name='Other Details')
writer.save()
from google.colab import files
files.download(writer)

Missing  UAN No and Adhar number

In [11]:
#@title *PAN card Validation -- Wrong PAN NUMBER*  {display-mode: "form"}
df1['PAN No']=df1['PAN No'].str.strip()
df1[df1['PAN No'].str.len() != 10]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     Sr No E Code  ... Offer Date Remarks
62      63  48804  ...        NaN     NaN
67      68  48830  ...        NaN     NaN
92      93  49313  ...        NaN     NaN
93      94  49314  ...        NaN     NaN
97      98  49444  ...        NaN     NaN
102    103  49448  ...        NaN     NaN
116    117  49474  ...        NaN     NaN
120    121  49460  ...        NaN     NaN
121    122  49470  ...        NaN     NaN
129    130  49522  ...        NaN     NaN
130    131  49515  ...        NaN     NaN
132    133  49451  ...        NaN     NaN

[12 rows x 69 columns]