<a href="https://colab.research.google.com/github/dharmendra-chouhan/s2datascience/blob/master/HrmsEmployeeMaster_migrationdata.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title *Read a Excel file from a Google drive** {display-mode: "form"}
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#2. Get the file Cosolidated sheet for Dec 2019_Annexure-3.xlsx
downloaded = drive.CreateFile({'id':'1ckUBg7piDEXcC4XLChInjkezgA_KUOSO'}) # replace the id with id of file you want to access
downloaded.GetContentFile('HRMS Master Tracker 27_09_2020.xlsx')  


import pandas as pd

# Master Tracker 18_08_2020.xlsx
dfCosolidated_sheet_for_Dec_2019_Annexure_3 =  pd.read_excel('HRMS Master Tracker 27_09_2020.xlsx', sheet_name='Active Employee', skiprows=1)

In [244]:
##@title *Select Grade / Project** {display-mode: "form"}
import numpy as np
productlist =list(dfCosolidated_sheet_for_Dec_2019_Annexure_3.Grade.unique())
Grade = 'ULB' #@param ['Aadhar','Aaple Sarkar','ADHARDC','AHF','AHM', 'Bharat Net (MBN 2)', 'BPMS', 'BPMS Corp', 'BPMS_ULB', 'CIDCO', 'Citizen Services', 'CRF', 'CS Office 2', 'CST', 'CSVJNT', 'DAT', 'DAT-Finance  Project', 'DBT', 'DCM', 'DIT', 'DIT 2', 'DIT SETU', 'DMA', 'Farm Loan Waiver', 'Farm Loan Waiver 2', 'FCS', 'FCSCP', 'FDA 2', 'FMS', 'HRC', 'HTE Sevaarth', 'Human Right 2', 'IGR', 'IGR033', 'IGR16', 'IGR6', 'IT Minister', 'MADC', 'Maha IT Internal', 'Maha Pariksha', 'Maha Sadan', 'MBN', 'MHADA', 'MIT', 'MIT Chiefdataofficer', 'NIC', 'NIC AGRI', 'NIC Primary Education', 'Panchayat Raj Sevart', 'Plant Projection', 'PMK', 'RDD Saral OTT', 'RDDN', 'Rera Kerala', 'Revenue Forest Dept', 'Sau Sevarth App', 'SESD', 'Sevarth for Ayurveda', 'Sevarth Samaj Sevart', 'Soil Testing', 'Soil Water New', 'UDD', 'ULB', 'VET', 'VJNT', 'WCD628', 'Zilla Parishad', 'Zilla Parishad DPL', 'Home Minister']
df1=dfCosolidated_sheet_for_Dec_2019_Annexure_3[dfCosolidated_sheet_for_Dec_2019_Annexure_3["Grade"] == Grade]

df = pd.DataFrame() 
df[['Old Employee ID *']]=df1[['E Code']]
splitted =  df1['Employee Name'].str.split()
df['Employee First Name (English)*'] = splitted.str[0]
df['Employee Middle Name (English)*'] =  df1['Employee Name'].loc[ df1['Employee Name'].str.split().str.len() == 3].str.split(expand=True)[1]
df['Employee Last Name (English)*'] = splitted.str[-1]
df[['Aadhar No','Pan No']]=df1[['Adhar No','PAN No']]
df['Election card no.']=''
df[['Gender','Date Of Birth *']]=df1[['Gender','Date of Birth']]
df['Height *']=''
df['Birth Place']=''
df['Blood Group *']=df1[['Blood Group']]
df['Blood Group *'] = df['Blood Group *'].fillna('Other')
df[['maritial Status *','Mobile No. *']]=df1[['Maritial Status','Contact No']]

df[['Phone No.']]=df1[['Contact No']]
df['Emergency Contact Person Name']=''
df[['Emergency Contact Person Number','Email ID *']]=df1[['Emergency Contact','Email Id ']]
df[['Official Email ID *']]=df1[['Email Id ']]
df['Employee is Physically Disable?']='No'
df['Disability Type']=''
df['Percentage Disability']=''
df[['PF Number *','UAN Number']]=df1[['Pf No ','UAN No ']].astype('str')
df['Hobbies *']='Not Provided'
df['Flat No / House *'], df['Street / Road Name *'] = df1['Local Adress'].str[:50], df1['Local Adress'].str[50:]
df['Flat No / House *'] = df['Flat No / House *']+df['Street / Road Name *'].str.split(',').str.get(0)
df['Street / Road Name *'] = df['Street / Road Name *'].astype('str').map(lambda x: x.lstrip(str(df['Street / Road Name *'].str.split(',').str.get(0))).rstrip(''))
df['Area *']=''
df[['City *','State *']]=df1[['Sub Location','State']]
df['Pincode *']= df1['Local Adress'].str.extract(r'(\d{5}\-?\d{0,6})')
df['Communication Address Same As a Permanent Address?']='Yes'
df['Communication Flat No / House *']=df['Flat No / House *']
df['Communication Street / Road Name *']=df['Street / Road Name *']
df['Communication Area *']=''
df[['Communication City *','Communication State*','Communication Pincode *']]=df[['City *','State *','Pincode *']]
df['Native Address Same As a Permanent Address?']='Yes'

df['Native Flat No / House *']=df['Flat No / House *']
df['Native Street / Road Name *']=df['Street / Road Name *']
df['Native Area *']=''
df[['Native City *','Native State*','Native Pincode *']]=df[['City *','State *','Pincode *']]

   

df['Religion']='Other'
df['Mother Tongue']='English'
df['Caste Employee']='Open'
df['Category']='Project Employee'
df['Appointment / Offer Letter Order No.']=''
df['Appointment / Offer Letter Order Date']=df1[['Offer Date']]
df['Employee Type *']=df1[['Emp Type']]
df['(Taluka)Block *']=df1[['Work Location/District']]
df['Current Department *']='Not Available'
df['Confirmation Order No.']=''
df['Confirmation Order Date']=''
df['Current Designation *']=df1[['Designation']]
df['Current Location *']=df1[['Work Location/District']]
df['Old CTC']=''
df['Date Of Joining *']=df1['DOJ']
df['Retirement Date']=''
df['Previous Organization Behaviour Certificate Given?']='No'








df = df.replace('nan',"")

In [237]:
df.head()

     Old Employee ID * Employee First Name (English)*  ... Old CTC Date Of Joining *
1484            BPM112                     Ragunandan  ...                01-08-2017
1485            BPM113                           Uday  ...                01-08-2017
1486            BPM282                       Shrikant  ...                12-07-2018
1487            ULB002                           Afak  ...                01-04-2017
1488            ULB020                        Bhushan  ...                13-06-2017

[5 rows x 52 columns]

In [245]:
#@title *Generating an Excel file* {display-mode: "form"}
df.to_excel(Grade+'.xlsx', sheet_name='Personal Details')
from google.colab import files
files.download(Grade+'.xlsx')

In [ ]:
df1.head()

    Sr No  E Code                 Employee Name  ...    NTH.1 Remark Unnamed: 102
34     35  BPM002  Dattatray Vitthalrao Meshram  ...  18436.0    NaN          NaN
35     36  BPM003      Ramesh Sambhaji Motghare  ...  16438.0    NaN          NaN
36     37  BPM004     Yogesh Prakashrao Saurkar  ...  18436.0    NaN          NaN
37     38  BPM006            Prashant A. Rathod  ...  14218.0    NaN          NaN
38     39  BPM007              Shekhar Premsure  ...  18436.0    NaN          NaN

[5 rows x 103 columns]